
$golden-ratio: 1.6180339887;
$font-family: 'Poppins', sans-serif;
$line-height: '';

$global-font-size-mobile: '';
$global-font-size-tablet: '';
$global-font-size-desktop: '';
$global-font-size-desktoplg: '';